### 대륙별 맥주 평균 소비량을 구하라. 5번째로 소비가 많은 대륙의 2번째로 맥주 소비량이 많은 국가의 맥주 소비량을 구하여라

In [43]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p1_1.csv')
df['대륙'].unique()

array(['Africa', 'Asia', 'Europe', 'North America', 'Oceania',
       'South America'], dtype=object)

In [44]:
df1 = df.groupby('대륙')['소비량'].mean().reset_index()
reuslt1 = df1.sort_values(by='소비량',ascending=False)
print(reuslt1)
# South America, Africa

              대륙         소비량
2         Europe  189.409091
5  South America  175.083333
3  North America  142.277778
4        Oceania   89.071429
0         Africa   61.750000
1           Asia   38.365854

### 총 방문객 수는 관광,방문,유햑연수,취업,기타 방문자 숫자의 합으로 정의한다. 
각 국가별 관광 / 총 방문객 수의 비율을 구하고 이를 관광 비율이라 한다.   
관광비율이 2번째로 높은 국가의 취업으로 출국한 인원과 관광 숫자가 3번째로 높은 국가의 방문으로 출국한 인원의 합을 구하여라

In [45]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p1_2.csv')
df.head(5)

       국가       관광      방문    유학연수    취업     기타
0    뉴질랜드  24724.0  6320.0  4911.0  56.0  637.0
1    피  지   3889.0   564.0    98.0  15.0   40.0
2     벨기에    243.0    58.0    30.0   7.0   25.0
3     멕시코   1069.0   335.0   103.0  32.0   48.0
4  우즈베키스탄   3994.0  1456.0    97.0   4.0  137.0

In [65]:
df['총 방문객 수'] = df['관광'] + df['방문'] + df['유학연수'] + df['취업'] + df['기타']
df['관광비율'] = df['관광'] / df['총 방문객 수']
df1 = df.sort_values(by='관광비율', ascending=False).iloc[1]['취업']
print(df1)
df2 = df.sort_values(by='관광비율', ascending=False).iloc[2]['관광']
print(df2)
print(df1 + df2)
df
#31283.0	 + 416800.0

22.0
416800.0
416822.0

          국가        관광       방문     유학연수      취업      기타   총 방문객 수      관광비율
36       마카오   24237.0   1603.0     81.0     4.0   123.0   26048.0  0.930475
60      캄보디아   31283.0   1919.0    172.0    22.0   286.0   33682.0  0.928775
29      태  국  416800.0  30813.0   4133.0   197.0  3111.0  455054.0  0.915935
46  북마리아나 군도   34940.0   2932.0    186.0    65.0   390.0   38513.0  0.907226
9          괌   52738.0   5115.0    390.0    55.0   132.0   58430.0  0.902584
..       ...       ...      ...      ...     ...     ...       ...       ...
59      미  국  152140.0  79585.0  43695.0  1081.0  9611.0  286112.0  0.531750
12      쿠웨이트     245.0    123.0      4.0    76.0    86.0     534.0  0.458801
38      우루과이      23.0      6.0      0.0    21.0     5.0      55.0  0.418182
51     나이지리아     124.0     56.0      2.0   102.0    37.0     321.0  0.386293
58       리비아     134.0     25.0      1.0   198.0     5.0     363.0  0.369146

[64 rows x 8 columns]

### CO(GT),NMHC(GT) 두 컬럼을 min-max normalize를 진행하고 각 컬럼의 모표준편차의 차이의 절댓값을 소숫점 이하 3째 자리까지 구하여라

In [72]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p1_3.csv')
df.head(5)
# df.shape

         Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)
0  10/03/2004  18.00.00     2.6       1360.0     150.0      11.9
1  10/03/2004  19.00.00     2.0       1292.0     112.0       9.4
2  10/03/2004  20.00.00     2.2       1402.0      88.0       9.0
3  10/03/2004  21.00.00     2.2       1376.0      80.0       9.2
4  10/03/2004  22.00.00     1.6       1272.0      51.0       6.5

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
d1 = MinMaxScaler().fit_transform(df['CO(GT)'].values.reshape(-1,1))
d2 = MinMaxScaler().fit_transform(df['NMHC(GT)'].values.reshape(-1,1))
std1 = d1.std()
std2 = d2.std()
print(round(abs(std2 - std1),3)) # 0.266

0.266

날씨에 따른 지하철 이용자수 train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p2_train.csv test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p2_test.csv

종속변수 :Y , 평가지표 : mae
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3934 entries, 0 to 3933
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype  
---  ------         --------------  -----  
 0   ID             3934 non-null   object 
 1   C1             3934 non-null   object 
 2   C2             3934 non-null   object 
 3   C3             3934 non-null   object 
 4   C4             3934 non-null   object 
 5   Date           3934 non-null   object 
 6   Weekday        3934 non-null   int64  
 7   Temperature    3934 non-null   float64
 8   Humidity       3934 non-null   float64
 9   Wind_Speed     3934 non-null   float64
 10  Precipitation  3934 non-null   float64
 11  Pressure       3934 non-null   float64
 12  Visibility     3934 non-null   float64
 13  Y              3934 non-null   int64  
dtypes: float64(6), int64(2), object(6)
memory usage: 430.4+ KB
None

['ConfusionMatrixDisplay', 'DetCurveDisplay', 'DistanceMetric', 'PrecisionRecallDisplay', 'PredictionErrorDisplay', 'RocCurveDisplay', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_base', '_classification', '_dist_metrics', '_pairwise_distances_reduction', '_pairwise_fast', '_plot', '_ranking', '_regression', '_scorer', 'accuracy_score', 'adjusted_mutual_info_score', 'adjusted_rand_score', 'auc', 'average_precision_score', 'balanced_accuracy_score', 'brier_score_loss', 'calinski_harabasz_score', 'check_scoring', 'class_likelihood_ratios', 'classification_report', 'cluster', 'cohen_kappa_score', 'completeness_score', 'confusion_matrix', 'consensus_score', 'coverage_error', 'd2_absolute_error_score', 'd2_log_loss_score', 'd2_pinball_score', 'd2_tweedie_score', 'davies_bouldin_score', 'dcg_score', 'det_curve', 'euclidean_distances', 'explained_variance_score', 'f1_score', 'fbeta_score', 'fowlkes_mallows_score', 'get_scorer', 'get_scorer_names', 'hamming_loss', 'hinge_loss', 'homogeneity_completeness_v_measure', 'homogeneity_score', 'jaccard_score', 'label_ranking_average_precision_score', 'label_ranking_loss', 'log_loss', 'make_scorer', 'matthews_corrcoef', 'max_error', 'mean_absolute_error', 'mean_absolute_percentage_error', 'mean_gamma_deviance', 'mean_pinball_loss', 'mean_poisson_deviance', 'mean_squared_error', 'mean_squared_log_error', 'mean_tweedie_deviance', 'median_absolute_error', 'multilabel_confusion_matrix', 'mutual_info_score', 'nan_euclidean_distances', 'ndcg_score', 'normalized_mutual_info_score', 'pair_confusion_matrix', 'pairwise', 'pairwise_distances', 'pairwise_distances_argmin', 'pairwise_distances_argmin_min', 'pairwise_distances_chunked', 'pairwise_kernels', 'precision_recall_curve', 'precision_recall_fscore_support', 'precision_score', 'r2_score', 'rand_score', 'recall_score', 'roc_auc_score', 'roc_curve', 'root_mean_squared_error', 'root_mean_squared_log_error', 'silhouette_samples', 'silhouette_score', 'top_k_accuracy_score', 'v_measure_score', 'zero_one_loss']

In [104]:
import sklearn.metrics
print(dir(sklearn.metrics))

['ConfusionMatrixDisplay', 'DetCurveDisplay', 'DistanceMetric', 'PrecisionRecallDisplay', 'PredictionErrorDisplay', 'RocCurveDisplay', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_base', '_classification', '_dist_metrics', '_pairwise_distances_reduction', '_pairwise_fast', '_plot', '_ranking', '_regression', '_scorer', 'accuracy_score', 'adjusted_mutual_info_score', 'adjusted_rand_score', 'auc', 'average_precision_score', 'balanced_accuracy_score', 'brier_score_loss', 'calinski_harabasz_score', 'check_scoring', 'class_likelihood_ratios', 'classification_report', 'cluster', 'cohen_kappa_score', 'completeness_score', 'confusion_matrix', 'consensus_score', 'coverage_error', 'd2_absolute_error_score', 'd2_log_loss_score', 'd2_pinball_score', 'd2_tweedie_score', 'davies_bouldin_score', 'dcg_score', 'det_curve', 'euclidean_distances', 'explained_variance_score', 'f1_score', 'fbeta_score', 'fowlkes_mallows_score', 'get_scorer', 'get_scorer_names', 'hamming_loss', 'hinge_loss', 'homogeneity_completeness_v_measure', 'homogeneity_score', 'jaccard_score', 'label_ranking_average_precision_score', 'label_ranking_loss', 'log_loss', 'make_scorer', 'matthews_corrcoef', 'max_error', 'mean_absolute_error', 'mean_absolute_percentage_error', 'mean_gamma_deviance', 'mean_pinball_loss', 'mean_poisson_deviance', 'mean_squared_error', 'mean_squared_log_error', 'mean_tweedie_deviance', 'median_absolute_error', 'multilabel_confusion_matrix', 'mutual_info_score', 'nan_euclidean_distances', 'ndcg_score', 'normalized_mutual_info_score', 'pair_confusion_matrix', 'pairwise', 'pairwise_distances', 'pairwise_distances_argmin', 'pairwise_distances_argmin_min', 'pairwise_distances_chunked', 'pairwise_kernels', 'precision_recall_curve', 'precision_recall_fscore_support', 'precision_score', 'r2_score', 'rand_score', 'recall_score', 'roc_auc_score', 'roc_curve', 'root_mean_squared_error', 'root_mean_squared_log_error', 'silhouette_samples', 'silhouette_score', 'top_k_accuracy_score', 'v_measure_score', 'zero_one_loss']

In [ ]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p2_train2.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p2_test2.csv')

#print(train.info())
#print(test.info())

target = train.pop('Y')
train = train.drop(columns='ID', axis=1)  
test = test.drop(columns='ID', axis=1)  

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()


train['C1'] = encoder.fit_transform(train['C1'])
test['C1'] = encoder.transform(test['C1'])
train['C2'] = encoder.fit_transform(train['C2'])
test['C2'] = encoder.transform(test['C2'])

train['C3'] = encoder.fit_transform(train['C3'])
test['C3'] = encoder.transform(test['C3'])

train['C4'] = encoder.fit_transform(train['C4'])
test['C4'] = encoder.transform(test['C4'])

train['Date'] = encoder.fit_transform(train['Date'])
test['Date'] = encoder.transform(test['Date'])


# df = pd.concat([train,test])
# df = pd.get_dummies(df)
# train = df.iloc[:len(train)]
# test = df.iloc[len(test):]
# #print(train.shape, test.shape)

from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(train, target, test_size=0.2)
#print(x_train.shape, x_val.shape, y_train.shape, y_val.shape)

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train, y_train)
pred = model.predict(x_val)

from sklearn.metrics import mean_absolute_percentage_error
mae = mean_absolute_error(y_val, pred)
print(mae) # 11.395603557814486 # 9.926709021601017

pred = model.predict(test)
submit = pd.DataFrame({'pred' : pred})
submit.to_csv("result.csv", index=False)

df = pd.read_csv("result.csv")
print(df)

9.926709021601017
       pred
0     23.17
1     45.52
2     72.00
3     76.09
4    -22.19
...     ...
1295  32.96
1296  -6.76
1297  30.24
1298  43.31
1299 -30.73

[1300 rows x 1 columns]

데이터 출처 : 자체 제작 데이터url = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p3_1.csv 종속변수 : y

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p3_1.csv')

# from statsmodels.api import Logit
# formula = 'Y ~ X1+X2+X3+X4+X5+X6+X7+X8+X9+X10+X11+X12+X13+X14'
# result = Logit.from_formula(formula, df).fit()
# r_values = result.pvalues
# print(result.summary())
#print(r_values)
#1 . 5개
from statsmodels.api import Logit
formula = 'Y ~ X7+X8+X11'
result = Logit.from_formula(formula, df).fit()
r_values = result.pvalues
print(result.summary())
r_sum = result.params
#print(round(r_sum.sum(),3)) # 3.558
oz = np.exp(5*result.params)
print(round(oz[1].sum(),3)) # 0.03배

Optimization terminated successfully.
         Current function value: 0.062467
         Iterations 10
                           Logit Regression Results
==============================================================================
Dep. Variable:                      Y   No. Observations:                 2500
Model:                          Logit   Df Residuals:                     2496
Method:                           MLE   Df Model:                            3
Date:                Sun, 15 Jun 2025   Pseudo R-squ.:                  0.9099
Time:                        23:04:15   Log-Likelihood:                -156.17
converged:                       True   LL-Null:                       -1732.9
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -2.0523      0.546     -3.756      0.000      -3.123      -0.981
X7            -1.1389      0.323     -3.525      0.000      -1.772      -0.506
X8             0.7529      0.149      5.041      0.000       0.460       1.046
X11            5.9960      0.326     18.374      0.000       5.356       6.636
==============================================================================
0.003

/tmp/ipykernel_3340230/3367790027.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(round(oz[1].sum(),3))



3-4

PIQ를 예측하는 다중선형회귀 모형을 만들고 Brain의 회귀 계수를 구하여라

3-5

모델의 r2를 구하여라

3-6

위에서 계산한 모델을 이용하여 뇌크기 90 키 70 몸무게 150일 때 지능을 예측하라

In [57]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e8_p3_2.csv')
#df.head()
import numpy as np
from statsmodels.api import OLS
formula = 'PIQ ~ Brain + Height + Weight'
result = OLS.from_formula(formula, df).fit()
#print(result.summary()) 
# print(result.params[1]) # 2.06036679789495 #  0.285

new_data = pd.DataFrame({'Brain' : [90], 'Height' : [70], 'Weight' : [150]})
result1 = result.predict(new_data)
print(result1[0])

105.63556929993527